@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* rwd img css, 可以當作是CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
}

/* 全域 border box */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*	outline: 1px solid #000;*/
.wrap {
  width: 1024px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header {
  margin: 30px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  display: block;
  width: 200px;
}

.header .menu {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu li a {
  display: block;
  color: #3F5D45;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.header .shopping-cart {
  display: block;
  margin-left: 79px;
}

.banner {
  margin: 0 42px 30px 42px;
}

.main {
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .aside {
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.main .aside h2 {
  background-color: #3F5D45;
  color: #EAF0ED;
  padding: 16px 0 16px 0;
}

.main .aside ul li .all-sweet {
  background-color: #EAF0ED;
}

.main .aside ul li a {
  color: #3F5D45;
  font-size: 24px;
  display: block;
  text-align: center;
  width: 100%;
  padding: 16px 0 16px 0;
  text-decoration: none;
  border: 1px solid #EAF0ED;
}

.main .content {
  width: 640px;
  margin-bottom: 100px;
}

.main .content .productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .content .productList .productListCard {
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.main .content .productList .productListCard .tag {
  position: absolute;
  left: 20px;
  width: 36px;
  background-color: #3F5D45;
  color: #EAF0ED;
  padding: 10.8px 10px 9.24px 10px;
  font-size: 16px;
  text-align: center;
  line-height: 125%;
}

.main .content .productList .productListCard .lovebtn {
  position: absolute;
  right: 22px;
  top: 19px;
}

.main .content .productList .productListCard .productListCardBody {
  width: 100%;
  color: #3F5D45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.main .content .productList .productListCard .productListCardBody h2 {
  font-size: 20px;
  padding: 14px 0;
  width: 173px;
  border: 1px solid #EAF0ED;
  font-weight: 400;
}

.main .content .productList .productListCard .productListCardBody span {
  width: 127px;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 0;
  border: 1px solid #EAF0ED;
}

.main .content .productList .productListCard .shoppingBtn {
  width: 100%;
  display: inline-block;
  font-size: 24px;
  background-color: #EAF0ED;
  color: #3F5D45;
  text-decoration: none;
  text-align: center;
  padding: 16px 0;
  font-weight: bold;
}

.main .content .pagination .pagination-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .content .pagination .pagination-body li {
  width: 60px;
  border: 1px solid #EAF0ED;
}

.main .content .pagination .pagination-body li a {
  padding: 18px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #3F5D45;
  font-size: 20px;
}

.main .content .pagination .pagination-body .active {
  background-color: #3F5D45;
}

.main .content .pagination .pagination-body .active a {
  color: #EAF0ED;
}
/*# sourceMappingURL=style.css.map */